---
import Features2 from '~/components/widgets/Features2.astro';
---

<Features2
  title="Most used widgets"
  subtitle="Provides frequently used components for building websites using Tailwind CSS"
  tagline="Components"
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>
