<div class="relative w-full h-96">
  <iframe
    class="absolute top-0 left-0 w-full h-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7666.991257044226!2d-86.8929524856054!3d16.091642132104653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f69b52ee445cde3%3A0x2e4e92c3dc419f06!2sParadise%20Divers!5e0!3m2!1ses!2ses!4v1727447360580!5m2!1ses!2ses"
    frameborder="0"
    style="border:0;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  >
  </iframe>
</div>
