---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src="/public/logoparadisedivers.png" alt="Logo" class="inline h-12 w-12 md:h-12 md:w-12" />
  {SITE?.name}
</span>
